BODY   {Font-family:helvetica; font-size:12pt;}
H1     {color:black; font-size:14pt; font-weight:bold;   text-align:center;}
H2     {color:black; font-size:16pt; font-weight:normal; text-align:center;}
H3     {color:black; font-size:13pt; font-weight:bold;   text-align:center;}
TR     {font-size:11pt; font-family:helvetica; vertical-align:top;}
TD     {font-size:11pt; font-family:helvetica; vertical-align:top;}
TD.HDR {font-size:11pt; font-family:helvetica; font-weight:normal; vertical-align:bottom; color:blue;}
TD.TTL {font-size:11pt; font-family:helvetica; vertical-align:top; text-align:right;}
TD.DTA {font-size:11pt; font-family:helvetica; vertical-align:top; text-align:left;}
TD.b   {font-size:13pt; font-family:helvetica; font-weight:bold; vertical-align:middle; color:black;}
TD.p   {font-size:09pt; font-family:helvetica; font-weight:bold; vertical-align:middle; width:100px; text-align:center;}
TD.s   {font-size:08pt; font-family:helvetica; font-weight:bold; vertical-align:middle; width:100px; text-align:left;}
TD.d08 {font-size:08pt; font-family:helvetica; vertical-align:top; text-align:left;}
TD.d09 {font-size:09pt; font-family:helvetica; vertical-align:top; text-align:left;}
TD.t10 {font-size:10pt; font-family:helvetica; vertical-align:middle;}
TD.d10 {font-size:10pt; font-family:helvetica; vertical-align:top; text-align:left;}
TD.m9rb   {font-size:9pt; font-family:helvetica; vertical-align:middle; font-weight:bold; color:red;}
.hiddenDiv {display: none; }
.visibleDiv {display: block; }
.hiddenTr {display: none; }
.visibleTr {display: table-row; }