body { font-family:helvetica; }
.container { width:1000px; margin:0 auto; padding:0; clear:both; position:relative; }
#container { width:800px; margin:0; padding:0; clear:both; }
#nav1,#navlist,#banner,.navDiv,.navList {width:100%;clear:both;margin:0;padding:0;}
#mnthdr,#tophead,#RSShdr,.table1 {border-collapse:collapse;width:100%;}
#mnthdr td,#RSShdr td {width:375px;font-weight:bold;color:#FFFFFF;vertical-align:middle;white-space:nowrap;}
#RSShdr td {background-color:#008080;}  #mnthdr td {background-color:#000080;}
#RSShdr td a,#mnthdr td a {color:#FFFF00;text-decoration:none;}
#mnthdr td.mid,#RSShdr td.mid {width:75px;text-align:center;vertical-align:middle;}
#mnthdr td.ttl,#RSShdr td.ttl {color:#FFFFFF;text-align:right;padding-right:10px;}
#mnthdr td.dta,#RSShdr td.dta {color:#FFFFFF;text-align:left;padding-left:10px;}
#mnthdr tr.bdr td,#RSShdr tr.bdr td {border-top:3px solid #FFFFFF;}
#tophead td {width:300px;font-weight:bold;font-size:12pt;vertical-align:middle;}
div.InnerBanner { box-sizing:content-box; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; float:left; width:33.333336%; padding:5px 0; font-family:arial, helvetica; height:75px; } div.InnerBanner img { max-width:100%; max-height:100%; }
#Schl { text-align:left; } #SchlTxt { text-align:center; font-weight:bold; white-space:nowrap; font-size:15px; } #Cred { text-align:right; font-size:11px; font-weight:bold; line-height: 200%; }
.table1 td.ttl {color:#003366;text-align:right;}
.table1 td {font-size:9pt;padding:3px 3px 2px 3px;border:1px solid #000000;}
.table1 th {font-size:10pt;border:1px solid #000000;text-align:center;}
.leftcol,.leftside {float:left;width:395px;margin:0px;}
.rightcol,rightside {margin-left:400px;}
.footer {width:100%;margin-top:5px;padding-top:10px;border-top:3px solid #808080;font-size:8pt;text-align:center;clear:both;}
.main,.body1 {width:100%;text-align:left;margin:0;padding:0;clear:both;}
.menuL     {float:left;width:60px;margin:0;text-align:center;}
.menuR     {float:right;width:60px;text-align:center;margin-left:30px;}
.float1    {float:left;width:375px;margin:5px;}
.confirm   {font-size:0.95em;color:#0000FF;border:2px solid #808080;padding:0.3em;}
.error     {font-size:0.95em;color:#FF0000;border:2px solid #808080;padding:0.3em;}
.header    {width:100%;margin-top:5px;margin-bottom:5px;padding:5px;font-weight:bold;font-size:12pt;text-align:center;color:#FFFFFF;clear:both;}
#navlist,.navList    {list-style-type:none;margin:0;padding:0;font-size:10pt;font-weight:bold;}
#navlist li,.navList li {display:inline;}
#navlist a,.navList a  {margin:0;border:1px solid #000000;display:block;color:#FFFFFF;background-color:#666666;width:100%;font-family:verdana,sans-serif;text-align:center;padding:4px;text-decoration:none;}
#navlist a:hover,#navlist a.selected,.navList a:hover,.navList a.selected    {background:#007DC5;}
.ci-confirm,.ci-error{width:100%;margin:1em 0;padding:0;background:#ececec;color:#000;border:2px solid #aaa}
.ci-error{border:2px solid #cc0000;background:rgba(241, 208, 208,.4);color:#000}
.ci-confirm.blue{border:2px solid #007dc5}
.ci-confirm.green{border:2px solid #159243}
.ci-error-hdr,.ci-confirm-hdr{color:#fff;padding:.25em 1em;font-size:1em;font-weight:bold;text-align:left;margin:0}
.ci-confirm>div,.ci-confirm>p,.ci-error>div,.ci-error>p{padding:7.5px 15px;margin:0;font-size:.9em}
.ci-confirm.blue>.ci-confirm-hdr{background:#007dc5}
.ci-confirm.green>.ci-confirm-hdr{background:#159243}
.ci-error-hdr{background:#cc0000}
