<html>
    {% load static %}
<head>
    <meta http-equiv="pragma" content="no-cache">

    <title>TranscriptsNetwork from Credentials Solutions, LLC</title>

    <link rel="stylesheet" type="text/css" href="{% static 'jss/css_CS1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'jss/css_TP1.css' %}" />
    <script src="{% static 'jss/jquery-3.6.0.js' %}"></script>
    <style>
        .main {
            border-top: 3px solid #808080;
            margin-top: 15px;
        }

        .signon {
            text-align: center;
            padding: 5px;
            background: #FFFFFF;
        }

        .Access {
            width: 800px;
            margin-top: 10px;
        }

        .error {
            width: 791px;
            padding: 5px 0px 4px 5px;
            margin: 10px 0px 4px 0px;
        }

        .warn {
            border: 5px double #FF0000;
            color: #FF0000;
            width: 60%;
            margin: auto;
            text-align: center;
        }

        #AccessFields {
            width: 60%;
            margin: auto;
        }

        #AccessFields td {
            border: none;
            padding: 7px 3px 4px 3px;
        }

        #AccessFields td.ttl {
            text-align: right;
            vertical-align: middle;
        }

        #AccessFields td.italic {
            text-align: left;
            font-style: italic;
            color: #808080;
            padding-left: 0px;
        }

        .logoHeader {
            width: 400px;
            text-align: center
        }
    </style>

    <script type="text/javascript" language="javascript">

        function isReady(form) {
            var err = false;
            var notMatch = false;
            if (document.form1.FRSTNAME.value == "") err = true;
            if (document.form1.LASTNAME.value == "") err = true;
            if (document.form1.PHONE.value == "") err = true;
            if (document.form1.EMAIL.value == "") err = true;
            if (document.form1.PIN.value == "") err = true;
            if (document.form1.PIN.value != "" && document.form1.PIN.value != "{{ access_code }}") {
                err = true;
                notMatch = true;
            }
            if (err) {
                document.getElementById("errorMsg").style.display = "block";
            }
            else {
                document.getElementById("errorMsg").style.display = "none";
            }
            if (notMatch) {
                document.getElementById("notMatch").style.display = "block";
            }
            else {
                document.getElementById("notMatch").style.display = "none";
            }
            if (!err && !notMatch) {
                downloadpdf();
            }
        }

        function subaction(action) {
            document.form1.ACTION.value = action;
            document.form1.submit();
        }

        function change(objnam, newval) {
            objnam.value = newval;
        };

        //---- Set the proper NL character -----------------
        function setNL() {
            var nlChar;
            if (navigator.appVersion.lastIndexOf('Mac') != -1) { nlChar = "\r" }
            else { nlChar = "\n" }
            return nlChar
        };

        // download pdf file
        function downloadpdf() {
            var link = document.createElement('a');
            link.href = "{% static 'pdfs/' %}{{ pdf_name }}";
            link.download = '{{ pdf_name }}';
            link.click();
            $(link).remove();
        };

    </script>
</head>

<body>
    <noscript>JavaScript must be enabled to use this site.</noscript>

    <form name="form1" method="post" autocomplete="off">

        <input type="hidden" id="FORMID" name="FORMID" value="SGN">
        <input type="hidden" id="ACTION" name="ACTION" value="">
        <input type="hidden" id="JSCRIPTOK" name="JSCRIPTOK" value="N" />
        <input type="hidden" id="FICE" name="FICE" value="001265">
        <input type="hidden" id="KEY" name="KEY" value="1H87515111">
        <input type="hidden" id="USERID" name="USERID" value="">
        <input type="hidden" id="SOURCE" name="SOURCE" value="P">
        <input type="hidden" id="RECORD" name="RECORD" value="">
        <input type="hidden" id="SIGNSCRN" name="SIGNSCRN" value="P">


        <div id="container">
            <div id="banner">
                <table id="tophead">
                    <tr>
                        <td class="logoHeader"><img src="{% static 'CIimages/CSemail.gif' %}" alt="Credentials Logo"></td>
                        <td class="logoHeader"><img src="{% static 'CIimages/TPnetwork2.gif' %}" alt="TranscriptsNetwork Logo"></td>
                    </tr>
                </table>

            </div>

            <div class="main">
                <div class="signon">
                    <p>
                        Welcome to TranscriptsNetwork&trade; brought to you by Credentials Solutions.<br />
                        Here you can access an official transcript from: <strong>{{ access_transcript_from }}</strong><br />
                        Please fill out the fields below with your information to proceed.
                    </p>
                </div>

                <div class="error" id="errorMsg" style="display: none;">Please make sure you have entered all the fields
                    marked
                    <i>Required</i>
                    correctly
                    before submitting.
                    <p id="notMatch" style="display: none;">Either the Order Number or Access Code is
                        Invalid.</p>
                </div>

                <div class="Access">
                    <table id="AccessFields" class="table1">
                        <tr>
                            <td class="ttl">First Name:&nbsp;</td>
                            <td><input name="FRSTNAME" type="text" maxlength="30" size="30" alt="First Name" value="">
                            </td>
                            <td class="italic">*Required</td>
                        </tr>
                        <tr>
                            <td class="ttl">Middle Name:&nbsp;</td>
                            <td><input name="MIDLNAME" type="text" maxlength="30" size="30" alt="Middle Name" value="">
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="ttl">Last Name:&nbsp;</td>
                            <td><input name="LASTNAME" type="text" maxlength="35" size="30" alt="Last Name" value="">
                            </td>
                            <td class="italic">*Required</td>
                        </tr>
                        <tr>
                            <td class="ttl">Telephone Number:&nbsp;</td>
                            <td><input type="text" name="PHONE" maxlength="25" size="30" alt="Phone Number" value="">
                            </td>
                            <td class="italic">*Required</td>
                        </tr>
                        <tr>
                            <td class="ttl">E-Mail Address:&nbsp;</td>
                            <td><input type="text" name="EMAIL" maxlength="50" size="30" alt="E-mail"
                                    value="{{ email_address }}"></td>
                            <td class="italic">*Required</td>
                        </tr>

                        <tr>
                            <td class="ttl">Access Code:&nbsp;</td>
                            <td><input type="password" maxlength="30" size="30" name="PIN" alt="Access Code"
                                    value=""><br /><span style="font-size:8pt;line-height:90%">(From Part 2 of the
                                    e-mails you received)</span></td>
                            <td class="italic">*Required</td>
                        </tr>
                    </table>

                    <p style="text-align:center"><input type="button" onclick="isReady(this)" value="Submit"></p>
                </div>

            </div><!-- End div CLASS main -->

            <div id="copyright" class="footer">
                Copyright2016-2022 Credentials Solutions, LLC<br>
                Deerfield, IL 60015
            </div>


            <script type="text/javascript" language="javascript">document.form1.FRSTNAME.focus();</script>
            <noscript>You must enable JavaScript to continue.</noscript><!-- End div ID container -->
        </div>

    </form>

</body>

</html>