<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'jss/jquery-3.6.0.js' %}"></script>
    <title>Send Email</title>
</head>
<body>
    <form id="send_email_form" action="" method="post">
        {% csrf_token %}
        <p>Base URL: <input id="base_url" type="text" name="base_url"></p>
        <p>Credential ID: <input id="credential_id" type="text" name="credential_id"></p>
        <p>Access Transcript From: <input id="access_transcript_from" type="text" name="access_transcript_from"></p>
        <p>User Email Address: <input id="user_email_address" type="email" name="user_email_address"></p>
        <p>User Access Code: <input id="user_access_code" type="text" name="user_access_code"></p>
        <p>Upload Left Logo File: <input id="left_logo_file" type="file" name="left_logo_file"></p>
        <p>Upload Right Logo File: <input id="right_logo_file" type="file" name="right_logo_file"></p>
        <p>Upload PDF File: <input id="pdf_file" type="file" name="pdf_file"></p>
        <input id="submit_button" type="button" value="Send Email Now">
    </form>
    <div id="form_result"></div>
</body>
    <script>
        $("#submit_button").click(function(){
            var formData = new FormData();
            var base_url_val = $("#base_url").val();
            if(!base_url_val || base_url_val === '') {
                base_url_val = 'localhost';
            }
            formData.append("base_url", base_url_val);
            formData.append("credential_id", $("#credential_id").val());
            formData.append("access_transcript_from", $("#access_transcript_from").val());
            formData.append("user_email_address", $("#user_email_address").val());
            formData.append("user_access_code", $("#user_access_code").val());
            formData.append("left_logo_file", $("#left_logo_file")[0].files[0]);
            formData.append("left_logo_path", $("#left_logo_file")[0].files[0].name);
            formData.append("right_logo_file", $("#right_logo_file")[0].files[0]);
            formData.append("right_logo_path", $("#right_logo_file")[0].files[0].name);
            formData.append("pdf_file", $("#pdf_file")[0].files[0]);
            formData.append("pdf_file_path", $("#pdf_file")[0].files[0].name);
            $.ajax({
                type: 'POST',
                url: "{% url 'send_email' %}",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function(result) {
		    $("#form_result").empty();
                    $("#form_result").append(result);
                },
                error: function(errMsg) {
		    $("#form_result").empty();
                    $("#form_result").append(errMsg.statusText);
                }
            })
        });
    </script>
</html>
